html {
    background-color: #162c42;
}

h1 {
    color: #d29d03;
    font-family: 'Changa One', cursive;
    text-align: center;
    font-size: 6vh;;
}

h2, p {
    font-family: 'Open Sans', cursive;
    color: white;
    text-align: center;
}

.image {
    display: flex;
    align-content: center;
    height: 100px;
    width: 100px;
}

.sport {
    float: left;
    width: 50%;
}

.row {
    display: flex;
  }