html {
    background-color: #162c42;
}

h1 {
    color: #d29d03;
    font-family: 'Changa One', cursive;
    text-align: center;
    font-size: 6vh;;
}

h2, p {
    font-family: 'Open Sans', cursive;
    color: white;
    text-align: center;
}

#image {
    height: 15vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sport {
    float: left;
    height: 25vh;
    width: 40vw;
    background-color: #c21d1d;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
  }