html {
    background-color: #162c42;
}

h1 {
    color: #d29d03;
    font-family: 'Changa One', cursive;
    text-align: center;
    font-size: 6vh;;
}

h2, p {
    font-family: 'Open Sans', cursive;
    color: white;
    text-align: center;
}

#image {
    height: 25vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.red {
    height: 35vh;
    width: 80vw;
    background-color: #c21d1d;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.green {
    height: 35vh;
    width: 80vw;
    background-color: #168607;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-bar {
    height: 150px;
    width: 375px;
}