html {
    background-color: #162c42;
}

img {
    max-height: 35vh;
    align-content: center;
}

h1 {
    color: #d29d03;
    font-family: 'Changa One', cursive;
    text-align: center;
    font-size: 6vh;;
}

h2 {
    font-family: 'Open Sans', cursive;
    color: white;
    text-align: center;
}

p {
    font-family: 'Open Sans', cursive;
    font-size: 2vh;
    color: white;
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
}

.button {
    font-family: 'Open Sans', cursive;
    height: 10vh;
    width: 35vw;
    margin: 0;
    position: absolute;
    bottom: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #d29d03;
}

.quote{
    min-height: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
