html {
    background-color: #162c42;
}

img {
    max-width: 100%;
    align-content: center;
}

h1 {
    color: #d29d03;
    font-family: 'Changa One', cursive;
    text-align: center;
    font-size: 6vh;;
}

p {
    font-size: 3.5vh;
    font-family: 'Open Sans', sans-serif;
}

.image, .button {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 3vh;
    height: 10vh;
    width: 30vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5vh;;
}
