html {
    background-color: #162c42;
}

h1 {
    color: #d29d03;
    font-family: 'Changa One', cursive;
    text-align: center;
    font-size: 5vh;
}

h2, p, h3 {
    font-family: 'Open Sans', cursive;
    color: white;
    text-align: center;
}

#bottom-bar {
    background-color: #d29d03;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    left: 0;
    right: 0;
    border-top: solid;
    border-color: white;
    border-width: 1vh;
}

.icon {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.iconbox {
    height: 100%;
    width: 30%;
    float: left;
}

#iconbox1 {
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 5%;
}

.workout {
    width: 80%;
    left: 0;
    height: 100%;
    margin-left: 10%;
    border-top: solid;
    border-bottom: solid;
    border-color: white;
    border-width: 1vh;
}

.button {
    height: 10vh;
    width: 45vw;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #d29d03; 
    color:white;
    font-size: large;
    font-family: 'Open Sans', cursive;
}

#next {
    margin-left: 50%;
    margin-top: 10%;
}

#buttontimer {
    height: 5vh;
    width: 55%;
    margin-left: 50%;
}

#lastRow {
    margin-bottom: 10%;
    height: 30%;
    width: 30%;
}